.slider-1 {
  background-image: url(../../assets/img/hero/hero_bg_1_1.jpg);
}

.slider-2 {
  background-image: url(../../assets/img/hero/hero_bg_1_2.jpg);
}

.slider-3 {
 background-image: url(../../assets/img/hero/hero_bg_1_3.jpg);
}

.slider-4 {
  background-image: url(../../assets/img/hero/hero_bg_1_4.jpg);
}

